body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.list {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.highlight {
  font-size: 1.5em;
  color: #007bff;
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.item.checked {
  background-color: #d4edda !important; /* 検品完了時の色を優先する */
}

.item:nth-child(even) {
  background-color: #eee;
}

.item span {
  flex-basis: 60%;
  text-align: left;
}

.item .barcode {
  text-align: center;
  flex-basis: 30%;
}

.item .quantity {
  text-align: right;
  flex-basis: 10%;
}

.error-message {
  color: red;
}
