body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.list {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.highlight {
  font-size: 1.5em;
  color: #007bff;
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex; /* Flexboxを使用して横並びに */
  align-items: center; /* 高さを揃える */
  justify-content: space-between; /* 要素を左右に配置 */
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.item:nth-child(even) {
  background-color: #eee;
}

.item span {
  flex-basis: 30%; /* 各要素の幅を揃える */
  text-align: left;
}

.item .barcode {
  text-align: center; /* バーコードは中央に配置 */
  flex-basis: 40%;
}

.item .quantity {
  text-align: right; /* 数量は右揃え */
  flex-basis: 20%;
}
